**/*.iml
**/*.project
**/*.settings
**/*.idea
**/*.classpath
**/target
**/build
**/*.tern-project
build.properties
*.log
.sonar

*.json
#
#target
#.idea
#*bower.json


/src/main/resources/static/libs/bootstrap-gentellena/vendors/
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/Gruntfile.js
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/gulpfile.js
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/package.js
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/*.json
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/*.yml
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/README.md
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/CHANGELOG.md
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/LICENSE
/src/main/resources/static/libs/bootstrap-gentellena/vendors/grunt/
/src/main/resources/static/libs/bootstrap-gentellena/vendors/less/
/src/main/resources/static/libs/bootstrap-gentellena/vendors/nuget/

/src/main/resources/static/node_modules/

#
#/src/main/resources/static/node_modules/*
#!/src/main/resources/static/node_modules/core-js/
#/src/main/resources/static/node_modules/core-js/*
#!/src/main/resources/static/node_modules/core-js/client/
#!/src/main/resources/static/node_modules/core-js/client/*.js
#
#!/src/main/resources/static/node_modules/zone.js/
#/src/main/resources/static/node_modules/zone.js/*
#!/src/main/resources/static/node_modules/zone.js/dist/
#!/src/main/resources/static/node_modules/zone.js/dist/*.js
#
#!/src/main/resources/static/node_modules/reflect-metadata/
#!/src/main/resources/static/node_modules/reflect-metadata/*.js
#
#!/src/main/resources/static/node_modules/rxjs/
#/src/main/resources/static/node_modules/rxjs/*
#!/src/main/resources/static/node_modules/rxjs/bundle/
#!/src/main/resources/static/node_modules/rxjs/bundles/*.js
#
#!/src/main/resources/static/node_modules/@angular/core/bundles/*.js
#!/src/main/resources/static/node_modules/@angular/common/bundles/*.js
#!/src/main/resources/static/node_modules/@angular/compiler/bundles/*.js
#!/src/main/resources/static/node_modules/@angular/platform-browser/bundles/*.js
#!/src/main/resources/static/node_modules/@angular/platform-browser-dynamic/bundles/*.js
#
#/src/main/resources/static/node_modules/**/library
#/src/main/resources/static/node_modules/**/fn
#
#/src/main/resources/static/**/*.txt
#/src/main/resources/static/**/browser.js
#/src/main/resources/static/node_modules/**/*.babelrc
#/src/main/resources/static/node_modules/**/*.jscsrc*
#/src/main/resources/static/node_modules/**/*.jshintrc*
#/src/main/resources/static/node_modules/**/_*
#/src/main/resources/static/node_modules/**/.*
#/src/main/resources/static/node_modules/**/*.?
#/src/main/resources/static/node_modules/**/*.ts
#/src/main/resources/static/node_modules/**/*.js.map
#/src/main/resources/static/node_modules/**/*.md
#/src/main/resources/static/node_modules/**/LICENSE
#/src/main/resources/static/node_modules/**/*.yml
#/src/main/resources/static/node_modules/**/*.editorconfig
#/src/main/resources/static/node_modules/**/*.dir-locals.el
#/src/main/resources/static/node_modules/**/*.eslint*
#/src/main/resources/static/node_modules/**/*.jami*
#/src/main/resources/static/node_modules/**/*.git*
#/src/main/resources/static/node_modules/**/*.npm*
#
#/src/main/resources/static/node_modules/**/lodash/
#/src/main/resources/static/node_modules/**/nan/
##/src/main/resources/static/node_modules/**/core-js/
#/src/main/resources/static/node_modules/**/bs-recipes/
#/src/main/resources/static/node_modules/**/stage/
#/src/main/resources/static/node_modules/**/src/
#/src/main/resources/static/node_modules/**/testing/
#/src/main/resources/static/node_modules/**/test/
#/src/main/resources/static/node_modules/**/weinre/
#/src/main/resources/static/node_modules/**/*node*/
#
##/src/main/resources/static/node_modules/@angular/
#/src/main/resources/static/node_modules/base64id/
#/src/main/resources/static/node_modules/is-posix-bracket/
#/src/main/resources/static/node_modules/is-number/
#/src/main/resources/static/node_modules/async-each-series/
#/src/main/resources/static/node_modules/concurrently/
#/src/main/resources/static/node_modules/aws4/
#/src/main/resources/static/node_modules/window-size/
#/src/main/resources/static/node_modules/forever-agent/
#/src/main/resources/static/node_modules/is-number-like/
#/src/main/resources/static/node_modules/eazy-logger/
#/src/main/resources/static/node_modules/object-assign/
#/src/main/resources/static/node_modules/request/
#/src/main/resources/static/node_modules/sshpk/
#/src/main/resources/static/node_modules/blob/
#/src/main/resources/static/node_modules/browser-sync/
#/src/main/resources/static/node_modules/socket.io-parser/
#/src/main/resources/static/node_modules/wrap-ansi/
#/src/main/resources/static/node_modules/requires-port/
#/src/main/resources/static/node_modules/qs/
#/src/main/resources/static/node_modules/magic-string/
#/src/main/resources/static/node_modules/micromatch/
#/src/main/resources/static/node_modules/tree-kill/
#/src/main/resources/static/node_modules/async-each/
#/src/main/resources/static/node_modules/accepts/
#/src/main/resources/static/node_modules/jsprim/
#/src/main/resources/static/node_modules/is-extendable/
#/src/main/resources/static/node_modules/stringstream/
#/src/main/resources/static/node_modules/is-binary-path/
#/src/main/resources/static/node_modules/for-own/
#/src/main/resources/static/node_modules/string_decoder/
#/src/main/resources/static/node_modules/callsite/
#/src/main/resources/static/node_modules/spdx-license-ids/
#/src/main/resources/static/node_modules/camelcase/
#/src/main/resources/static/node_modules/localtunnel/
#/src/main/resources/static/node_modules/assert-plus/
##/src/main/resources/static/node_modules/core-js/
#/src/main/resources/static/node_modules/is-equal-shallow/
#/src/main/resources/static/node_modules/filename-regex/
#/src/main/resources/static/node_modules/core-util-is/
#/src/main/resources/static/node_modules/expand-brackets/
#/src/main/resources/static/node_modules/delayed-stream/
#/src/main/resources/static/node_modules/cliui/
#/src/main/resources/static/node_modules/engine.io/
#/src/main/resources/static/node_modules/is-property/
#/src/main/resources/static/node_modules/resp-modifier/
#/src/main/resources/static/node_modules/array-unique/
#/src/main/resources/static/node_modules/extglob/
#/src/main/resources/static/node_modules/ultron/
#/src/main/resources/static/node_modules/.bin/
#/src/main/resources/static/node_modules/which-module/
#/src/main/resources/static/node_modules/yargs/
#/src/main/resources/static/node_modules/is-builtin-module/
#/src/main/resources/static/node_modules/invert-kv/
#/src/main/resources/static/node_modules/spawn-default-shell/
#/src/main/resources/static/node_modules/chalk/
#/src/main/resources/static/node_modules/is-dotfile/
#/src/main/resources/static/node_modules/readdirp/
#/src/main/resources/static/node_modules/caseless/
#/src/main/resources/static/node_modules/moment/
#/src/main/resources/static/node_modules/error-ex/
#/src/main/resources/static/node_modules/arrify/
#/src/main/resources/static/node_modules/has-cors/
#/src/main/resources/static/node_modules/process-nextick-args/
#/src/main/resources/static/node_modules/fsevents/
#/src/main/resources/static/node_modules/immutable/
#/src/main/resources/static/node_modules/strip-ansi/
#/src/main/resources/static/node_modules/send/
#/src/main/resources/static/node_modules/acorn-jsx/
#/src/main/resources/static/node_modules/path-exists/
#/src/main/resources/static/node_modules/pinkie/
#/src/main/resources/static/node_modules/fresh/
#/src/main/resources/static/node_modules/mime-types/
#/src/main/resources/static/node_modules/angular-in-memory-web-api/
#/src/main/resources/static/node_modules/concat-map/
#/src/main/resources/static/node_modules/y18n/
#/src/main/resources/static/node_modules/tunnel-agent/
#/src/main/resources/static/node_modules/builtin-modules/
#/src/main/resources/static/node_modules/lodash.isfinite/
#/src/main/resources/static/node_modules/object-component/
#/src/main/resources/static/node_modules/component-bind/
#/src/main/resources/static/node_modules/emitter-steward/
#/src/main/resources/static/node_modules/object.omit/
#/src/main/resources/static/node_modules/supports-color/
#/src/main/resources/static/node_modules/symbol-observable/
#/src/main/resources/static/node_modules/serve-index/
#/src/main/resources/static/node_modules/boom/
#/src/main/resources/static/node_modules/path-type/
#/src/main/resources/static/node_modules/cryptiles/
#/src/main/resources/static/node_modules/object-path/
#/src/main/resources/static/node_modules/range-parser/
#/src/main/resources/static/node_modules/get-caller-file/
#/src/main/resources/static/node_modules/connect-history-api-fallback/
#/src/main/resources/static/node_modules/dev-ip/
#/src/main/resources/static/node_modules/string-width/
#/src/main/resources/static/node_modules/hawk/
#/src/main/resources/static/node_modules/negotiator/
#/src/main/resources/static/node_modules/os-locale/
#/src/main/resources/static/node_modules/mime/
#/src/main/resources/static/node_modules/inherits/
##/src/main/resources/static/node_modules/zone.js/
#/src/main/resources/static/node_modules/expand-range/
#/src/main/resources/static/node_modules/arr-diff/
#/src/main/resources/static/node_modules/xmlhttprequest-ssl/
#/src/main/resources/static/node_modules/ua-parser-js/
#/src/main/resources/static/node_modules/depd/
#/src/main/resources/static/node_modules/lite-server/
#/src/main/resources/static/node_modules/parse-json/
#/src/main/resources/static/node_modules/is-arrayish/
#/src/main/resources/static/node_modules/lodash/
#/src/main/resources/static/node_modules/utils-merge/
#/src/main/resources/static/node_modules/nan/
#/src/main/resources/static/node_modules/hosted-git-info/
##/src/main/resources/static/node_modules/rxjs/
#/src/main/resources/static/node_modules/engine.io-parser/
#/src/main/resources/static/node_modules/mime-db/
#/src/main/resources/static/node_modules/portscanner/
#/src/main/resources/static/node_modules/randomatic/
#/src/main/resources/static/node_modules/spdx-expression-parse/
#/src/main/resources/static/node_modules/is-buffer/
#/src/main/resources/static/node_modules/form-data/
#/src/main/resources/static/node_modules/load-json-file/
#/src/main/resources/static/node_modules/isobject/
#/src/main/resources/static/node_modules/getpass/
#/src/main/resources/static/node_modules/code-point-at/
#/src/main/resources/static/node_modules/stream-throttle/
#/src/main/resources/static/node_modules/bs-recipes/
#/src/main/resources/static/node_modules/wtf-8/
#/src/main/resources/static/node_modules/minimist/
#/src/main/resources/static/node_modules/isarray/
#/src/main/resources/static/node_modules/klaw/
#/src/main/resources/static/node_modules/punycode/
#/src/main/resources/static/node_modules/escape-string-regexp/
#/src/main/resources/static/node_modules/abbrev/
#/src/main/resources/static/node_modules/require-directory/
#/src/main/resources/static/node_modules/connect-logger/
#/src/main/resources/static/node_modules/chokidar/
#/src/main/resources/static/node_modules/has-ansi/
#/src/main/resources/static/node_modules/options/
#/src/main/resources/static/node_modules/semver/
#/src/main/resources/static/node_modules/repeat-string/
#/src/main/resources/static/node_modules/opn/
#/src/main/resources/static/node_modules/ansi-styles/
#/src/main/resources/static/node_modules/repeat-element/
#/src/main/resources/static/node_modules/require-main-filename/
#/src/main/resources/static/node_modules/easy-extender/
#/src/main/resources/static/node_modules/parseqs/
#/src/main/resources/static/node_modules/mkdirp/
#/src/main/resources/static/node_modules/is-glob/
#/src/main/resources/static/node_modules/oauth-sign/
#/src/main/resources/static/node_modules/parsejson/
#/src/main/resources/static/node_modules/yargs-parser/
#/src/main/resources/static/node_modules/json-schema/
#/src/main/resources/static/node_modules/engine.io-client/
#/src/main/resources/static/node_modules/preserve/
#/src/main/resources/static/node_modules/encodeurl/
#/src/main/resources/static/node_modules/is-fullwidth-code-point/
#/src/main/resources/static/node_modules/lcid/
#/src/main/resources/static/node_modules/asynckit/
#/src/main/resources/static/node_modules/glob-base/
#/src/main/resources/static/node_modules/eventemitter3/
#/src/main/resources/static/node_modules/cookie/
#/src/main/resources/static/node_modules/browser-sync-ui/
#/src/main/resources/static/node_modules/is-primitive/
#/src/main/resources/static/node_modules/jodid25519/
#/src/main/resources/static/node_modules/setprototypeof/
#/src/main/resources/static/node_modules/acorn/
#/src/main/resources/static/node_modules/aws-sign2/
#/src/main/resources/static/node_modules/vlq/
#/src/main/resources/static/node_modules/har-validator/
#/src/main/resources/static/node_modules/normalize-path/
#/src/main/resources/static/node_modules/is-utf8/
#/src/main/resources/static/node_modules/parseuri/
#/src/main/resources/static/node_modules/is-my-json-valid/
#/src/main/resources/static/node_modules/set-blocking/
#/src/main/resources/static/node_modules/generate-function/
#/src/main/resources/static/node_modules/http-proxy/
#/src/main/resources/static/node_modules/after/
#/src/main/resources/static/node_modules/arr-flatten/
#/src/main/resources/static/node_modules/isstream/
#/src/main/resources/static/node_modules/binary-extensions/
#/src/main/resources/static/node_modules/decamelize/
#/src/main/resources/static/node_modules/regex-cache/
#/src/main/resources/static/node_modules/destroy/
#/src/main/resources/static/node_modules/generate-object-property/
#/src/main/resources/static/node_modules/ms/
#/src/main/resources/static/node_modules/socket.io/
#/src/main/resources/static/node_modules/hoek/
#/src/main/resources/static/node_modules/parse-glob/
#/src/main/resources/static/node_modules/braces/
#/src/main/resources/static/node_modules/extsprintf/
#/src/main/resources/static/node_modules/socket.io-client/
#/src/main/resources/static/node_modules/graceful-readlink/
#/src/main/resources/static/node_modules/fs-extra/
#/src/main/resources/static/node_modules/http-errors/
#/src/main/resources/static/node_modules/limiter/
#/src/main/resources/static/node_modules/async/
#/src/main/resources/static/node_modules/readable-stream/
#/src/main/resources/static/node_modules/commander/
#/src/main/resources/static/node_modules/indexof/
#/src/main/resources/static/node_modules/brace-expansion/
#/src/main/resources/static/node_modules/jsonfile/
#/src/main/resources/static/node_modules/yeast/
#/src/main/resources/static/node_modules/better-assert/
#/src/main/resources/static/node_modules/bubleify/
#/src/main/resources/static/node_modules/openurl/
#/src/main/resources/static/node_modules/set-immediate-shim/
#/src/main/resources/static/node_modules/ecc-jsbn/
#/src/main/resources/static/node_modules/node-uuid/
#/src/main/resources/static/node_modules/bcrypt-pbkdf/
#/src/main/resources/static/node_modules/dashdash/
#/src/main/resources/static/node_modules/buffer-shims/
#/src/main/resources/static/node_modules/buble/
#/src/main/resources/static/node_modules/serve-static/
#/src/main/resources/static/node_modules/socket.io-adapter/
#/src/main/resources/static/node_modules/number-is-nan/
#/src/main/resources/static/node_modules/path-is-absolute/
#/src/main/resources/static/node_modules/validate-npm-package-license/
#/src/main/resources/static/node_modules/normalize-package-data/
#/src/main/resources/static/node_modules/backo2/
#/src/main/resources/static/node_modules/nopt/
#/src/main/resources/static/node_modules/on-finished/
#/src/main/resources/static/node_modules/tough-cookie/
#/src/main/resources/static/node_modules/anymatch/
#/src/main/resources/static/node_modules/glob-parent/
#/src/main/resources/static/node_modules/ws/
#/src/main/resources/static/node_modules/extend/
#/src/main/resources/static/node_modules/for-in/
#/src/main/resources/static/node_modules/tweetnacl/
#/src/main/resources/static/node_modules/express/
#/src/main/resources/static/node_modules/pinkie-promise/
#/src/main/resources/static/node_modules/xtend/
#/src/main/resources/static/node_modules/asn1/
#/src/main/resources/static/node_modules/formidable/
#/src/main/resources/static/node_modules/batch/
#/src/main/resources/static/node_modules/verror/
#/src/main/resources/static/node_modules/strip-bom/
#/src/main/resources/static/node_modules/unpipe/
#/src/main/resources/static/node_modules/base64-arraybuffer/
#/src/main/resources/static/node_modules/component-emitter/
#/src/main/resources/static/node_modules/http-signature/
#/src/main/resources/static/node_modules/spdx-correct/
#/src/main/resources/static/node_modules/is-typedarray/
#/src/main/resources/static/node_modules/json-stringify-safe/
#/src/main/resources/static/node_modules/util-deprecate/
#/src/main/resources/static/node_modules/bluebird/
#/src/main/resources/static/node_modules/sntp/
#/src/main/resources/static/node_modules/finalhandler/
#/src/main/resources/static/node_modules/jsbn/
#/src/main/resources/static/node_modules/ansi-regex/
#/src/main/resources/static/node_modules/browser-sync-client/
#/src/main/resources/static/node_modules/debug/
#/src/main/resources/static/node_modules/arraybuffer.slice/
#/src/main/resources/static/node_modules/balanced-match/
#/src/main/resources/static/node_modules/is-extglob/
#/src/main/resources/static/node_modules/read-pkg-up/
#/src/main/resources/static/node_modules/minimatch/
#/src/main/resources/static/node_modules/server-destroy/
#/src/main/resources/static/node_modules/fill-range/
#/src/main/resources/static/node_modules/jsonpointer/
#/src/main/resources/static/node_modules/parseurl/
#/src/main/resources/static/node_modules/combined-stream/
#/src/main/resources/static/node_modules/connect/
#/src/main/resources/static/node_modules/graceful-fs/
#/src/main/resources/static/node_modules/os-homedir/
#/src/main/resources/static/node_modules/json3/
#/src/main/resources/static/node_modules/find-up/
#/src/main/resources/static/node_modules/escape-html/
#/src/main/resources/static/node_modules/acorn-object-spread/
#/src/main/resources/static/node_modules/kind-of/
#/src/main/resources/static/node_modules/pify/
#/src/main/resources/static/node_modules/component-inherit/
#/src/main/resources/static/node_modules/etag/
#/src/main/resources/static/node_modules/weinre/
#/src/main/resources/static/node_modules/read-pkg/
#/src/main/resources/static/node_modules/rx/
#/src/main/resources/static/node_modules/underscore/
#/src/main/resources/static/node_modules/has-binary/
#/src/main/resources/static/node_modules/tfunk/
#/src/main/resources/static/node_modules/statuses/
#/src/main/resources/static/node_modules/ee-first/
#/src/main/resources/static/node_modules/to-array/
