**/*.iml
**/*.project
**/*.settings
**/*.idea
**/*.classpath
**/target
**/build
**/*.tern-project
build.properties
*.log
.sonar

kalthailand-admin-elife/src/main/resources/static/libs/bootstrap-gentellena/*/.gitignore
*.json
#
#target
#.idea
#*bower.json

/src/main/resources/static/libs/bootstrap-gentellena/*.gitignore
/src/main/resources/static/libs/bootstrap-gentellena/*/.gitignore
/src/main/resources/static/libs/bootstrap-gentellena/*.yml

/src/main/resources/static/libs/bootstrap-gentellena/vendors/
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/Gruntfile.js
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/gulpfile.js
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/package.js
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/*.json
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/*.yml
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/README.md
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/CHANGELOG.md
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/LICENSE
/src/main/resources/static/libs/bootstrap-gentellena/vendors/grunt/
/src/main/resources/static/libs/bootstrap-gentellena/vendors/less/
/src/main/resources/static/libs/bootstrap-gentellena/vendors/nuget/

