**/*.iml
**/*.project
**/*.settings
**/*.idea
**/*.classpath
**/target
**/build
**/*.tern-project
build.properties
*.log
.sonar


/src/main/resources/static/libs/bootstrap-gentellena/vendors/
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/Gruntfile.js
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/gulpfile.js
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/package.js
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/*.json
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/*.yml
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/README.md
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/CHANGELOG.md
/src/main/resources/static/libs/bootstrap-gentellena/vendors/*/LICENSE
/src/main/resources/static/libs/bootstrap-gentellena/vendors/grunt/
/src/main/resources/static/libs/bootstrap-gentellena/vendors/less/
/src/main/resources/static/libs/bootstrap-gentellena/vendors/nuget/



/src/main/resources/static/node_modules/angular/*
!/src/main/resources/static/node_modules/angular/
!/src/main/resources/static/node_modules/angular/*.min.js

/src/main/resources/static/node_modules/gentelella/*
!/src/main/resources/static/node_modules/gentelella/
/src/main/resources/static/node_modules/gentelella/documentation
/src/main/resources/static/node_modules/gentelella/src
/src/main/resources/static/node_modules/gentelella/production

!/src/main/resources/static/node_modules/gentelella/build
!/src/main/resources/static/node_modules/gentelella/build/**/*.min.css
!/src/main/resources/static/node_modules/gentelella/build/**/*.min.js

!/src/main/resources/static/node_modules/gentelella/vendors
/src/main/resources/static/node_modules/gentelella/vendors/**/assets
/src/main/resources/static/node_modules/gentelella/vendors/**/skins
/src/main/resources/static/node_modules/gentelella/vendors/**/lib
/src/main/resources/static/node_modules/gentelella/vendors/**/spec
/src/main/resources/static/node_modules/gentelella/vendors/**/grunt*
/src/main/resources/static/node_modules/gentelella/vendors/**/less
/src/main/resources/static/node_modules/gentelella/vendors/**/examples
/src/main/resources/static/node_modules/gentelella/vendors/**/samples
/src/main/resources/static/node_modules/gentelella/vendors/**/templates
/src/main/resources/static/node_modules/gentelella/vendors/**/themes
/src/main/resources/static/node_modules/gentelella/vendors/**/src
/src/main/resources/static/node_modules/gentelella/vendors/**/docs
/src/main/resources/static/node_modules/gentelella/vendors/**/support
/src/main/resources/static/node_modules/gentelella/vendors/**/test
/src/main/resources/static/node_modules/gentelella/vendors/**/scss

/src/main/resources/static/node_modules/gentelella/vendors/**/_*
/src/main/resources/static/node_modules/gentelella/vendors/**/.*
/src/main/resources/static/node_modules/gentelella/vendors/**/*.css
/src/main/resources/static/node_modules/gentelella/vendors/**/*.json
/src/main/resources/static/node_modules/gentelella/vendors/**/*.md
/src/main/resources/static/node_modules/gentelella/vendors/**/*.html
/src/main/resources/static/node_modules/gentelella/vendors/**/*.ico
/src/main/resources/static/node_modules/gentelella/vendors/**/*.scss


/src/main/resources/static/node_modules/gentelella/vendors/**/?runtfile.js
/src/main/resources/static/node_modules/gentelella/vendors/**/?ulpfile.js
/src/main/resources/static/node_modules/gentelella/vendors/**/?icense*
/src/main/resources/static/node_modules/gentelella/vendors/**/LICENSE*


!/src/main/resources/static/node_modules/gentelella/vendors/**/*.min.js
!/src/main/resources/static/node_modules/gentelella/vendors/**/*.min.css