<style>
    .plain-text {
        white-space: pre-wrap;
    }

    .search-highlight {
        color: #00AA88;
    }

    /** --------------------------- */
    .table-input-as-text {
        width: 100%;
    }

    .table-input-as-text > tbody > tr > td {
        padding: 0px;
    }

    .table-input-as-text td {
        vertical-align: top;
    }

    .table-input-as-text input, .table-input-as-text textarea {
        width: 100%;
        color: rgb(115, 135, 156);
        font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
        font-size: 13px;
        box-shadow: none;
    }

    .table-input-as-text ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #ECF0F1;
        font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
        font-size: 13px;
        font-style: italic;
        font-weight: lighter;
    }

    .table-input-as-text input:not(:focus), .table-input-as-text textarea:not(:focus) {
        padding: 1px 1px 0px 0px; /* Top-Right-Bottom-Left: The bottom has border, so it doesn't need padding anymore*/
        border-width: 0px 0px 1px 1px;
        border-style: dotted;
        border-color: #ECF0F1 #ECF0F1 #F1F1F1 #F7F7F7;
    }

    .table-input-as-text input:focus, .table-input-as-text textarea:focus {
        padding: 1px 0px 0px 0px; /* The bottom has border, so it doesn't need padding anymore*/
        border-width: 0px 1px 1px 1px;
        border-style: solid;
        border-color: rgb(238, 238, 238);
    }

    .table-input-as-text .angucomplete-dropdown {
        background-color: #fcf8e3;
    }

    .expressionItem {
        border-bottom: 1px solid #D1D1D1;
    }

    .col-word {
        width: 30%;
        font-weight: bolder;
    }

    .example {
        color: rgb(205, 210, 220);
        font-style: italic;
        font-weight: lighter;
    }

    .example.active-meaning {
        color: rgb(195, 200, 210);
        font-weight: normal;
    }

    .example.active-example {
        color: rgb(115, 135, 156);
        font-weight: normal;
    }
</style>
<div class="page-title">
    <div class="title_left">
        <h3>Test
            <!--<small>Editing</small>-->
        </h3>
    </div>

</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Filter
                    <small>different form elements</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <!--<li>-->
                    <!--<a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                    <!--<li><a href="#">Settings 1</a>-->
                    <!--</li>-->
                    <!--<li><a href="#">Settings 2</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                    <!--</li>-->
                    <li style="float: right">
                        <a><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix">

                </div>
            </div>
            <div class="x_content">
                <div class="row">
                    <!-- LESSONS -->
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="flat" name="table_records" ng-model="lessonTestService.lessonFilter.selectAll">
                                    </th>
                                    <th>
                                        <input type="text"
                                               ng-model="lessonTestService.lessonFilter.filterValue"
                                               ng-change="lessonTestService.lessonFilter.filterItems()"
                                               placeholder="Search Lessons" class="form-control"/>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="lesson in lessonTestService.lessonFilter.filteredItems">
                                    <td>
                                        <input type="checkbox" class="flat" name="table_records" ng-model="lesson.checked" ng-change="lessonTestService.lessonFilter.selectItem(lesson)">
                                    </td>
                                    <td>
                                        <span ng-hide="lesson.resultWithHighlightText">{{lesson.name}}</span>
                                        <span ng-show="lesson.resultWithHighlightText" ng-bind-html="lesson.resultWithHighlightText"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="tagsinput" style="width: auto; min-height: 100px; height: 100px;">
                                        <span class="tag" ng-repeat="selectedItem in lessonTestService.lessonFilter.selectedItems">
                                            <span>{{selectedItem.name}}&nbsp;&nbsp;</span>
                                            <a href="" ng-click="lessonTestService.lessonFilter.unselectItem(selectedItem)" title="Removing tag">x</a>
                                        </span>

                            <div class="tags_clear"></div>
                        </div>
                    </div>
                    <!-- TOPICS -->
                    <div class="col-md-6">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" class="flat" name="table_records" ng-model="lessonTestService.topicFilter.selectAll">
                                    </th>
                                    <th>
                                        <input type="text" ng-model="lessonTestService.topicFilter.filterValue"
                                               ng-change="lessonTestService.topicFilter.filterItems()"
                                               placeholder="Search Topics" class="form-control"/>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="lesson in lessonTestService.topicFilter.filteredItems">
                                    <td>
                                        <input type="checkbox" class="flat" name="table_records" ng-model="lesson.checked" ng-change="lessonTestService.topicFilter.selectItem(lesson)">
                                    </td>
                                    <td>
                                        <span ng-hide="lesson.resultWithHighlightText">{{lesson.name}}</span>
                                        <span ng-show="lesson.resultWithHighlightText" ng-bind-html="lesson.resultWithHighlightText"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="tagsinput" style="width: auto; min-height: 100px; height: 100px;">
                                        <span class="tag" ng-repeat="selectedItem in lessonTestService.topicFilter.selectedItems">
                                            <span>{{selectedItem.name}}&nbsp;&nbsp;</span>
                                            <a href="" ng-click="lessonTestService.topicFilter.unselectItem(selectedItem)" title="Removing tag">x</a>
                                        </span>

                            <div class="tags_clear"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- Topic -->
        <div class="x_panel">
            <div class="x_title">
                <h2 ng-repeat="topic in lessonTestService.lesson.topics">
                    <input type="text" placeholder="Topic" ng-model="topic.name"/>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="close-link"><i class="fa fa-plus" ng-click="lessonTestService.addTopic()"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <!-- Expression Items Table -->
                <div class="table-responsive">
                    <!--<button ng-click="lessonTestService.addExpressionItem()">Add expression item</button>-->
                    <table class="table-input-as-text">
                        <tr class="expressionItem" ng-repeat="expressionItem in lessonTestService.lesson.expressionItems">
                            <td style="width: 20px">{{$index + 1}}</td>
                            <td class="col-word">
                                <input type="text" ng-model="expressionItem.expressionAnswer"
                                       placeholder="expression {{$index + 1}}" class="cell-input"/>
                            </td>
                            <td>
                                <table width="100%">
                                    <tr ng-repeat="meaning in expressionItem.meanings">
                                        <td style="width: 60px;">
                                            <span>{{meaning.wordType}}</span>
                                        </td>
                                        <td>
                                            <!--<input type="text" ng-model="meaning.explanation" ng-change="lessonTestService.addExpressionMeaningIfNecessary(expressionItem, meaning)"/>-->
                                            <div class="plain-text">{{meaning.explanation}}</div>
                                            <table style="width: 100%">
                                                <tr ng-repeat="example in meaning.examples  track by $index">
                                                    <td style="width: 35px"><label class="example {{meaning.explanation? 'active-meaning': 'inactive-meaning'}}  {{example? 'active-example': 'inactive-example'}}" ng-show="$index == 0">e.g. </label></td>
                                                    <td>
                                                        <div class="plain-text">{{example}}</div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="ln_solid"></div>
                <!--Save button-->
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <button type="submit" class="btn btn-success" ng-click="lessonTestService.saveLesson()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>